<!DOCTYPE html>
<html>

<head>
    <script>
        function openPopup() {
            alert('Quay về trang chủ');
            window.location.href = '/home'
        }
    </script>
</head>

<body>

    <h1>Account successfully created

    </h1>

    <button type="button" onclick="openPopup()">Click Me!</button>

</body>

</html>