<!DOCTYPE html>
<html>

<head>
    <title>Table</title>
    <meta charset="utf-8" />
    <!-- Embed fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/table/table.css">
</head>

<body>
    <a href="/home">Home</a>
    <table>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>IDstudent</th>
            <th>PhoneNumber</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Nguyễn Trung Kiên</td>
            <td>B20DCVT203</td>
            <td>999</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Chu Quang Minh</td>
            <td>B20DCVT251</td>
            <td>111</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Dương Thị Kiều Trang</td>
            <td>B20DCVT...</td>
            <td>222</td>
        </tr>
    </table>

</body>

</html>